<header>
<!-- 추가 -->
            <div class="head">
                <div class="logo">                
                    <a href="/heritage/main"><img src="/static/img/logo.png" alt=""></a>                  
                </div>

				<ul class="mainMenu">
					
					<li><a href="/heritage/map">문화재찾기</a></li>
					<li><a href="/heritage/reviewList">탐방후기</a></li>
					<li><a href="/heritage/recommend">추천목록</a></li>					
                    <li class="myPageBtn"><a href="/heritage/myPage">마이페이지</a></li>
				</ul>
            
                <div class="login">
					
					<div id="google_translate_element"></div>
						
                    <a href="/heritage/auth/login"><i class="fa fa-user-circle-o"></i> Login</a>
                </div>
            </div>      
          
             
                              
               
        </header>
        
<script src ="/static/js/principal.js"></script>

<!-- 구글자동번역 -->
<script type="text/javascript">
window.onpageshow = function(event) {
if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
// Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
      //document.location.reload();

        }
}
</script>
<script type="text/javascript">


function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'ko', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- 구글자동번역 -->


<!-- 구글자동번역 -->