<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heritage</title> 
    <script src="https://kit.fontawesome.com/896ca928ec.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=bbfd15f9494abeae655daf908408beed&libraries=services,clusterer,drawing"></script>        
  	<link rel="stylesheet" href="/static/css/style.css">
  	<link rel="stylesheet" href="/static/css/map.css"> 
  	<link rel="stylesheet" href="/static/css/sub.css"> 
  	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    

</head>