<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<th:block th:replace="/headSub"></th:block>
<body>

        <th:block th:replace="/head"></th:block>

        
        <div class="wrapIn pt50 pb50">
            <p class="List-tit">My Favorite List</p>
            <ul class="List-op">
                <li><button class="List-op-on">문화재</button></li>
                <li><button>주변시설</button></li>
                
                <li class="subSearch-wrap" style="right: 105px;">
                    <div class="subSearch">
						<select name="search-op" class="search-op">
							<option value="all">전체</option>
							<option value="name">문화재명</option>
							<option value="content">내용</option>
							<option value="local">지역</option>
							<option value="etc">주변시설</option>
						
						
						</select>
						<input type="text" id="search-text" placeholder="검색어를 입력하세요"> 
						<button type="button" class="sear-bu"><i class="fa fa-search"></i></button>    
					</div>
                </li>
                <li class="board-op" style="right: 0;">
					<select name="" id="" >
					
						<option value="">관심순</option>
						<option value="">후기순</option>
					</select>
				</li>
            </ul>
            <div class="List-head">
                <p>Total <span class="fwb blue">1</span>건 <span class=" blue">1 Page</span></p>
                
            </div>
        

            <!-- 리스트 -->
            <ul class="galleryList">
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>

                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                <li class="galleryList-con">
                    <div class="galleryList1">
                        <img src="https://www.heritage.go.kr/unisearch/images/national_treasure/thumb/2021042017434700.JPG" alt="">
                        <i class="fa fa-heart infoHeart" ></i>
                    </div>
                    <div class="galleryList2">
                        <h2 class=" mt10"><a href="" class="fs18">서울 숭례문</a></h2>
                        <p>조선 태조 7년(1398)</p>
                        <p>서울 중구 세종대로 40</p>
                        <div class="infoList-box" style="right: 0;">
	                        <p><i class="fa fa-heart"></i><span class="heartNum">3</span></p>
	                        <p class="viewMore"><button><i class="fa fa-commenting"></i><span class="reviewNum">10</span></button></p>
									                       
	                    </div>
                    </div>
                </li>
                
                
                
            </ul>
            <ul class="listCount">
                <li>&lt;</li>
                <li class="listCountOn">1</li>
                <li>2</li>
                <li>&gt;</li>
            </ul>
             <!-- 리스트 -->
            
        </div>
       


        <th:block th:replace="/tail"></th:block>

     
</body>
</html>