<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<th:block th:replace="/headSub"></th:block>
<body>

        <th:block th:replace="/head"></th:block>
        <div class="wrapIn pt50 pb50">
            <div class="ListView-tit">
                <div class="flex" style="align-items: center;">                
                	<img class="data-img" src="" alt="" style="width: 15%; border-radius: 20px; margin-right: 15px; max-height: 150px; object-fit: cover;">
                	<div class="ListView-tit-box"></div>
            	</div>
            </div>         
            <div id="reviewForm">
                <input type="text" id="text-name" placeholder="제목을 입력해주세요.">
                <textarea name="" id="text-content" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>             
            </div>          
            <button class="reviewFormBtn">작성하기</button>
        </div>
       	<script type="text/javascript" src="/static/js/reviewwrite.js"></script>  
        <th:block th:replace="/tail"></th:block>

</body>
</html>